.shadow-input-box {
  font-size: 18px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  text-shadow: 2px 2px 4px rgba(145, 58, 58, 0.3);
}
.btn {
  display: inline-block;
  padding: 6px 10px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}
.size18px {
  font-size: 18px;
}

.pad10px {
  padding: 10px;
}
.border2px {
  border: 2px #000000;
}
.borrad5px {
  border-radius: 5px;
}
